* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#errmsg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(218, 218, 218);
    color: red;
    visibility: hidden;
}

#maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

#card {
    background: linear-gradient(155deg, #00febacc, #5b548ac9);
    height: 100%;
    width: 25vw;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
}

#search {
    height: 10%;
}

#cityinput {
    margin-top: -5px;
    height: 45px;
    width: 85%;
    font-size: 18px;
    border: none;
    padding-left: 20px;
    border-radius: 30px;
}

#searchbtn {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 100px;
    width: 13%;
    height: 45px;
}

#degree, #c {
    color: white;
    margin-top: 10px;
    font-size: 60px;
}

#city {
    color: rgb(236, 234, 234);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

#bottom {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 50px 15px 10px 15px;
}

#wind {
    font-size: 20px;
}

#name {
    color: rgb(216, 216, 216);
    font-size: 15px;
    margin-top: 3px;
}

@media (max-width: 1150px) {
    #card {
        width: 45vw;
    }
}

@media (max-width: 700px) {
    #card {
        width: 65vw;
        margin-top: 5%;
    }
}

@media (max-width: 450px) {
    #cityinput {
        width: 75%;
    }

    #card {
        width: 85vw;
        padding: 15px;
    }

    #degree {
        font-size: 55px;
    }

    #city {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    #card {
        width: 90vw;
        padding: 10px;
    }
}
